.main-footer{
  /* background: linear-gradient(rgba(0, 0, 255, 0.31), rgba(250, 0, 212, 0.447)), url('../../../assets//Footer-img//footer-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background: linear-gradient(rgba(29, 29, 154, 0.71), rgba(217, 0, 255, 0.83));

}