<<<<<<< HEAD
.feedback__card {
	background: linear-gradient(to right, #540781, #1d0e5f);
}
.rating__color {
	color: #faaf00;
}
=======
.feedback__card {
	background: linear-gradient(to right, #540781, #1d0e5f);
}
.rating__color {
	color: #faaf00;
}
>>>>>>> 421b7e9489cf3145122a604d5aecce40bca303f2
